@use '../../../../../styles/base/material' as *;

.full-width-table {
  width: 100%;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background: rgba(0, 0, 0, 0.04);
}

.height-for-toolbar {
  height: calc(100vh - (64px));
}

.height-for-tag-table {
  height: calc(100vh - (64px + 78px + 0.5rem));
}

.btn-margin {
  margin-bottom: 22px;
  margin-left: 1rem;
}

.mat-mdc-row:hover,
.mat-mdc-row.selectedRow {
  &.deleteState .mat-mdc-cell {
    @extend .bg-mat-accent;
  }

  & .mat-mdc-cell {
    background: rgba(0, 0, 0, 0.04);
  }
}
