<header>
  <mat-toolbar
    color="secondary"
    class="d-flex justify-content-between px-md-5">
    <span>My App</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <div class="container">
    <mat-chip-listbox aria-label="Fish selection">
      <mat-chip-option>One fish</mat-chip-option>
      <mat-chip-option>Two fish</mat-chip-option>
      <mat-chip-option
        color="accent"
        selected
        >Accent fish</mat-chip-option
      >
      <mat-chip-option color="warn">Warn fish</mat-chip-option>
    </mat-chip-listbox>
  </div>
  <!-- amenities!!! -->
</header>
