<div
  class="mat-elevation-z8"
  [style.filter]="del ? 'brightness(96%) grayscale(4%)' : ''">
  <mat-toolbar class="bg-mat-white h-auto py-2 justify-content-between">
    <div>
      <button
        [disabled]="del"
        mat-raised-button
        [routerLink]="['../add-dish']"
        color="primary">
        New dish
      </button>
      <button
        mat-raised-button
        (click)="del = !del"
        [color]="del ? 'warn' : 'primary'">
        Delete dish
      </button>
    </div>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="filter()"
        placeholder="Search for..."
        #input />
    </mat-form-field>
  </mat-toolbar>
  <table
    mat-table
    class="full-width-table"
    matSort
    aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="name">
      <th
        [style.width.%]="(1 / displayedColumns.length) * 100"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header>
        Dish
      </th>
      <td
        mat-cell
        *matCellDef="let row">
        {{ row.name }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="text">
      <th
        [style.width.%]="(1 / displayedColumns.length) * 100"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header>
        Description
      </th>
      <td
        mat-cell
        *matCellDef="let row">
        <p>{{ row.text }}</p>
      </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="cost">
      <th
        [style.width.%]="(1 / displayedColumns.length) * 100"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header>
        Cost
      </th>
      <td
        mat-cell
        *matCellDef="let row">
        {{ row.cost }}
      </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="tags">
      <th
        [style.width.%]="(1 / displayedColumns.length) * 100"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header>
        Tags
      </th>
      <td
        mat-cell
        *matCellDef="let row">
        {{ row.tags }}
      </td>
    </ng-container>
    <ng-container matColumnDef="buttons">
      <th
        [style.width.%]="(1 / displayedColumns.length) * 100"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header></th>
      <td
        mat-cell
        *matCellDef="let row">
        <button
          *ngIf="selected == row.id && !del"
          type="button"
          aria-label="Toggle sidenav"
          (click)="routeEdit(row.id)"
          mat-icon-button>
          <mat-icon
            color="accent"
            class="material-icons-outlined"
            >edit</mat-icon
          >
        </button>
        <button
          *ngIf="selected == row.id && del"
          type="button"
          aria-label="Toggle sidenav"
          (click)="openDeletionDialog(row.name, 'Dish', row.id)"
          mat-icon-button>
          <mat-icon
            color="warn"
            class="material-icons-outlined"
            >delete_forever</mat-icon
          >
        </button>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      [ngClass]="{ selectedRow: selected == row.id, deleteState: del }"
      (click)="selected = row.id; $event.stopPropagation()"
      *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="0"
    [pageIndex]="0"
    [pageSize]="20"
    [pageSizeOptions]="[10, 20, 40]"
    aria-label="Select page">
  </mat-paginator>
</div>
