<img
  src="../../../assets/img/pexels-destiawan-nur-agustra-1034940.jpg"
  class="main-img" />
<div
  class="container d-flex flex-column flex-grow-1 gap-2 mb-5 position-relative">
  <div>
    <h1 class="text-center pt-3">Wir liefern dein Essen!</h1>
    <div
      class="flex-column justify-content-center align-items-center gap-2 info-wrapper">
      <mat-card
        *ngIf="loggedInUser && missingAddress()"
        appearance="outlined"
        [class.d-none]="close0.checked"
        class="info-box position-relative mb-3">
        <mat-card-header class="d-flex me-3">
          <mat-card-title><mat-icon>info</mat-icon></mat-card-title
          ><mat-card-subtitle
            >Deine Lieferadresse scheint noch unvollständig zu
            sein.</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-actions class="d-flex justify-content-end w-100">
          <a
            mat-flat-button
            (click)="emitRoute('data')"
            >Jetzt vervollständigen
          </a>
          <input
            name="close0"
            id="close0"
            type="checkbox"
            class="d-none"
            ngModel
            #close0 />
          <label
            for="close0"
            class="position-absolute top-0 mt-2 end-0 me-2"
            style="cursor: pointer"
            ><mat-icon>close</mat-icon></label
          >
        </mat-card-actions>
      </mat-card>
      <mat-card
        *ngIf="ordered"
        appearance="outlined"
        [class.d-none]="close1.checked"
        class="info-box position-relative mb-3">
        <mat-card-header class="d-flex me-3">
          <mat-card-title><mat-icon>info</mat-icon></mat-card-title
          ><mat-card-subtitle
            >Wie es scheint, hast du vor kurzem bestellt.</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-actions class="d-flex justify-content-end w-100">
          <a
            mat-flat-button
            (click)="emitRoute('order')"
            >Hier siehst du, wie es deiner Bestellung geht.
          </a>
          <input
            name="close1"
            id="close1"
            type="checkbox"
            class="d-none"
            ngModel
            #close1 />
          <label
            for="close1"
            class="position-absolute top-0 mt-2 end-0 me-2"
            style="cursor: pointer"
            ><mat-icon>close</mat-icon></label
          >
        </mat-card-actions>
      </mat-card>
    </div>
    <p class="text-center">
      Du bestellst, und wir liefern! So einfach kann es gehen.
    </p>
    <p class="text-center">
      Wähle jetzt deine Gerichte aus und klicke dann auf "Bestellen", damit wir
      anfangen können.
    </p>
  </div>
  <div class="d-flex">
    <div class="tag-btn-wrapper">
      <button
        mat-icon-button
        class="scroll-btn left-btn"
        color="accent"
        [disabled]="
          disabled || (tagDiv ? tagDiv.nativeElement.scrollLeft <= 8 : false)
        "
        (click)="scrollTags(-1); cooldown()">
        <mat-icon>arrow_circle_left</mat-icon>
      </button>
    </div>
    <mat-chip-listbox
      class="overflow-auto"
      multiple="true"
      #tagList>
      <div
        class="tag-wrapper gap-3 mt-2 px-3 snaps-inline"
        (scroll)="scrolled()"
        #tagWrapper>
        <mat-chip-option
          *ngFor="let tag of dataService.tagColl$ | async"
          (click)="selectedTags = tagList.value"
          ><span
            class="px-3 py-2"
            style="font-size: 1.075rem"
            >{{ tag.tag }}</span
          ></mat-chip-option
        >
      </div>
    </mat-chip-listbox>
    <div class="tag-btn-wrapper">
      <button
        mat-icon-button
        class="scroll-btn right-btn"
        color="accent"
        [disabled]="
          disabled ||
          (tagDiv
            ? tagDiv.nativeElement.scrollLeft >=
              tagDiv.nativeElement.scrollWidth -
                tagDiv.nativeElement.offsetWidth
            : false)
        "
        (click)="scrollTags(1); cooldown()">
        <mat-icon>arrow_circle_right</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-card
    *ngFor="let dish of dataService.dishColl$ | async"
    [class.d-none]="!selection(dish.tags) && selectedTags.length > 0">
    <mat-card-header class="w-100">
      <mat-card-title-group>
        <mat-card-title>{{ dish.name }}</mat-card-title>
        <mat-card-subtitle>{{ dish.text }}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-title-group class="d-flex justify-content-end">
        <br />
        <mat-card-title>{{ dish.cost }}</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-actions class="d-flex justify-content-end">
      <button
        mat-icon-button
        color="primary"
        (click)="addToCart(dish)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
