mat-card img {
  height: auto;
  width: clamp(100px, 40%, 400px);
  -o-object-fit: contain;
  object-fit: contain;
  align-self: center;
}

.reg-img {
  -o-object-fit: fill;
  object-fit: fill;
  max-height: 400px;
  border-radius: 12px;
}
