.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-sidenav-content {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}
