<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="true">
    <mat-toolbar
      ><a href="/">T<small>ake</small>A<small>way</small>-CRM</a></mat-toolbar
    >
    <mat-nav-list>
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel
          [expanded]="step === 1"
          (opened)="setStep(1)"
          hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="mdc-list-item__primary-text"
              >Orders</mat-panel-title
            >
          </mat-expansion-panel-header>
          <a
            mat-list-item
            [routerLink]="['orders']"
            >Overview</a
          >
          <a
            mat-list-item
            [routerLink]="['orders']"
            >Stats</a
          >
        </mat-expansion-panel>

        <mat-expansion-panel
          [expanded]="step === 2"
          (opened)="setStep(2)"
          hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="mdc-list-item__primary-text">
              Users
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a
            mat-list-item
            [routerLink]="['users']"
            >Overview</a
          >
        </mat-expansion-panel>

        <mat-expansion-panel
          [expanded]="step === 3"
          (opened)="setStep(3)"
          hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="mdc-list-item__primary-text">
              Dishes
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a
            mat-list-item
            [routerLink]="['dishes/list']"
            >List</a
          >
          <a
            mat-list-item
            [routerLink]="['dishes/tags']"
            >Tags</a
          >
          <a
            mat-list-item
            [routerLink]="['dishes/add']"
            >Stats</a
          >
        </mat-expansion-panel>
        <mat-expansion-panel
          [expanded]="step === 4"
          (opened)="setStep(4)"
          hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="mdc-list-item__primary-text">
              Restaurant
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a
            mat-list-item
            [routerLink]="['users']"
            >Stats</a
          >
          <a
            mat-list-item
            [routerLink]="['restaurant/responsible']"
            >Responsible</a
          >
          <a
            mat-list-item
            [routerLink]="['restaurant/hours']"
            >Delivery hours</a
          >
        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar
      color="primary"
      class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <h1 class="mat-h1">{{ URLtitle }}</h1>
      </div>
      <div class="d-flex align-items-center gap-3 pe-3">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          [routerLink]="['home']">
          <mat-icon>home</mat-icon>
        </button>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button>
          <mat-icon>power_settings_new</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
