<mat-card class="card my-0">
  <form
    [formGroup]="newRestaurantForm"
    novalidate
    (ngSubmit)="onSubmit()">
    <!--  General -->
    <mat-card-content>
      <div formGroupName="responsible">
        <div class="row">
          <mat-card-title-group>
            <mat-card-title>Person in charge</mat-card-title>
          </mat-card-title-group>
          <div class="col-6">
            <mat-form-field
              appearance="outline"
              class="full-width">
              <mat-label>Firstname</mat-label>
              <input
                matInput
                placeholder="Responsible's firstname"
                formControlName="firstname" />
              <mat-error
                *ngIf="
                  newRestaurantForm
                    .get('responsible.firstname')
                    ?.hasError('required')
                ">
                Firstname is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field
              appearance="outline"
              class="full-width">
              <mat-label>Lastname</mat-label>
              <input
                matInput
                placeholder="Responsible's lastname"
                formControlName="lastname" />
              <mat-error
                *ngIf="
                  newRestaurantForm
                    .get('responsible.lastname')
                    ?.hasError('required')
                ">
                Lastname is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div formGroupName="contact">
        <div class="row">
          <div class="col-6">
            <mat-form-field
              appearance="outline"
              class="full-width">
              <mat-label>Email</mat-label>
              <input
                required
                matInput
                placeholder="Contact email address"
                formControlName="mail" />
              <mat-error *ngIf="newRestaurantForm.get('contact.mail')?.errors">
                A <strong>valid</strong> email address is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field
              appearance="outline"
              class="full-width">
              <mat-label>Telephone</mat-label>
              <input
                matInput
                required
                placeholder="Contact telephone number"
                formControlName="phone" />
              <mat-error *ngIf="newRestaurantForm.get('contact.phone')?.errors">
                Phone is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <mat-divider></mat-divider>

      <!-- Address -->
      <div formGroupName="address">
        <div class="row">
          <mat-card-title-group>
            <mat-card-title>Address</mat-card-title>
          </mat-card-title-group>
          <div class="col-6">
            <mat-form-field
              appearance="outline"
              class="full-width">
              <mat-label>Street</mat-label>
              <input
                matInput
                placeholder="Address"
                formControlName="street" />
              <mat-error
                *ngIf="
                  newRestaurantForm.get('address.street')?.hasError('required')
                ">
                Street is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field
              appearance="outline"
              class="full-width">
              <mat-label>Nr</mat-label>
              <input
                matInput
                placeholder="House number"
                formControlName="house" />
              <mat-error
                *ngIf="
                  newRestaurantForm.get('address.house')?.hasError('required')
                ">
                House number is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field
              appearance="outline"
              class="full-width">
              <mat-label>City</mat-label>
              <input
                matInput
                placeholder="City"
                formControlName="city" />
              <mat-error
                *ngIf="
                  newRestaurantForm.get('address.city')?.hasError('required')
                ">
                City is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field
              appearance="outline"
              class="full-width">
              <mat-label>Postal Code</mat-label>
              <input
                matInput
                #postalCode
                maxlength="5"
                minlength="5"
                inputmode="numeric"
                placeholder="_ _ _ _ _"
                type="text"
                formControlName="postalCode" />
              <mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint>
              <mat-error
                *ngIf="
                  newRestaurantForm
                    .get('address.postalCode')
                    ?.hasError('required')
                ">
                Postal code is <strong>required</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  newRestaurantForm
                    .get('address.postalCode')
                    ?.hasError('pattern')
                ">
                Postal code must have <strong>five digits</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit">
        Submit
      </button>
    </mat-card-actions>
  </form>
</mat-card>
