@import '../../../styles/base/material';

.main-img {
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: calc(center - 20%);
  object-position: calc(center - 20%);
}

.mat-toolbar.mat-primary {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.img-text {
  position: absolute;
  top: 50%;
  color: #fafafa;
}

mat-stepper {
  @extend .mat-app-background;
}

::ng-deep {
  .mat-horizontal-stepper-header,
  .mat-vertical-stepper-header {
    pointer-events: none !important;
  }
}

::ng-deep .mat-horizontal-stepper-header-container {
  position: -webkit-sticky;
  position: sticky;
  top: var(--mat-toolbar-mobile-height);
  z-index: 2;
  @extend .mat-app-background;
}

.stepper-divider {
  margin-top: -24px;
  margin-bottom: 24px;
}
