<!-- Add Content Here -->
<div class="position-relative text-center">
  <img
    src="../../../assets/img/cooks-1661131_1920.jpg"
    class="main-img" />
  <h2 class="img-text container">Noch wenige Schritte bis zum Essen!</h2>
</div>
<div class="container">
  <mat-stepper
    [disableRipple]="true"
    linear
    #stepper>
    <mat-step [stepControl]="controlAddress">
      <ng-template matStepLabel>Wohin soll es gehen?</ng-template>
      <app-address
        (controlAddress)="nextStep($event)"
        [userData]="currentUser"></app-address>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Ein letzter Blick darüber...</ng-template>
      <app-checkout
        [customer]="customerData"
        [order]="order"
        [price]="price"
        (onOrder)="placeOrder()"></app-checkout>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Dein Essen ist unterwegs!</ng-template>
      <ng-template matStepContent>
        <app-done></app-done>
      </ng-template>
    </mat-step>
  </mat-stepper>
</div>
