<div class="position-relative text-center">
  <img
    src="../../../assets/img/fast-food-6974507_1280.jpg"
    class="main-img" />
</div>
<div class="container text-center">
  <h1 class="my-4">Vielen Dank für deine Bestellung!</h1>
  <p class="my-4">
    Du hast deine Bestellung aufgegeben und nun sind wir am Zug!
  </p>
  <p class="mt-4 mb-5">In spätestens {{ time }}min ist dein Essen bei dir.</p>
  <div class="position-relative mt-4">
    <mat-progress-bar
      mode="determinate"
      [value]="pctTime"></mat-progress-bar>
    <div
      class="position-absolute"
      style="top: -10px; left: calc({{ pctTime }}% - 10px)">
      <mat-icon class="position-absolute cloud-animation">cloud</mat-icon>
      <mat-icon class="car-shake">local_shipping</mat-icon>
    </div>
  </div>
</div>
