@use '@angular/material' as mat;
$takeaway-clone-primary: mat.define-palette(mat.$orange-palette);

.sidenav {
  width: 360px;

  &[role='dialog'] {
    width: 80vw;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.amount-input {
  max-width: 150px;
}

.cart {
  height: calc(100% - 64px - 0.5rem);

  > div {
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.register-wrapper > .mat-mdc-card-outlined {
  border-color: mat.get-color-from-palette(
    $takeaway-clone-primary,
    600
  ) !important;
}
