.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 360px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-img {
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.amount-input {
  max-width: 150px;
}

.tag-wrapper {
  display: grid !important;
  grid-auto-flow: column;
  height: 48px;
  transition: width 0.25s ease-in-out;

  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-inline: contain;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.snaps-inline {
  -ms-scroll-snap-type: inline mandatory;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
  scroll-behavior: smooth;

  > * {
    scroll-snap-align: start;
  }
}

.tag-btn-wrapper {
  transition: width 0.25s ease-in-out;
  transition-delay: 0.25s;
  &:has(> .scroll-btn:not(.show)) {
    width: 0;
  }

  &:has(> .scroll-btn.show) {
    width: 48px;
  }
}

.scroll-btn {
  transform: scale(0, 1) translateX(0);
  transition: transform 0.25s ease-in-out;

  &.show {
    transform: scale(1, 1) translateX(0);
    transition: transform 0.25s ease-in-out;

    &.left-btn {
      transform-origin: left;
    }
    &.right-btn {
      transform-origin: right;
    }
  }
}

.cart {
  height: calc(100% - 64px);
}
