<mat-sidenav-container class="h-100">
  <mat-sidenav
    #drawer
    class="sidenav"
    position="end"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="
      (isHandset$ | async) === false &&
      cart.length > 0 &&
      params['page'] === undefined
    ">
    <mat-toolbar class="d-flex justify-content-center">Warenkorb</mat-toolbar>
    <mat-divider class="pb-1"></mat-divider>
    <div class="d-flex flex-column justify-content-between cart overflow-auto">
      <app-cart
        [cart]="cart"
        (adjustPrice)="calcPrice($event)"
        (adjustItems)="sumOfItems()"></app-cart>
      <div>
        <mat-divider *ngIf="this.cart.length > 0"></mat-divider>
        <mat-card
          appearance="outlined"
          *ngIf="this.cart.length > 0"
          class="mb-5 border-0">
          <mat-card-header class="w-100">
            <mat-card-title-group>
              <mat-card-title>Gesamt</mat-card-title>
            </mat-card-title-group>
            <mat-card-title-group class="d-flex justify-content-end">
              <mat-card-title>{{ priceOfItems() }}</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-actions class="d-flex justify-content-center"
            ><button
              mat-fab
              extended
              color="primary"
              (click)="toCheckout()">
              <mat-icon>shopping_cart_checkout</mat-icon>
              <span class="px-3 mat-h4"><b>Bestellen</b></span>
            </button></mat-card-actions
          >
        </mat-card>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="no-scrollbar">
    <mat-toolbar
      color="primary"
      class="d-flex justify-content-between">
      <a
        class="d-flex align-items-center gap-2 hover-title"
        [routerLink]="['/']">
        <mat-icon>local_shipping</mat-icon
        ><span
          [innerText]="
            (isHandset$ | async) === false
              ? 'wir-liefern-dein-essen.de'
              : 'wlde.de'
          "></span>
      </a>
      <div class="d-flex gap-md-3 gap-1 me-md-3">
        <button
          *ngIf="
            authService.auth.currentUser === undefined ||
            authService.auth.currentUser === null
          "
          type="button"
          mat-fab
          extended
          (click)="toggleLogin('250ms', '250ms')">
          <mat-icon class="mat-icon-filled">account_circle</mat-icon>Login
        </button>
        <button
          *ngIf="
            authService.auth.currentUser !== undefined &&
            authService.auth.currentUser !== null
          "
          type="button"
          mat-icon-button
          [matMenuTriggerFor]="userMenu">
          <mat-icon class="mat-icon-filled">account_circle</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <a
            mat-menu-item
            (click)="toData()"
            >Meine Daten</a
          >
          <button
            mat-menu-item
            (click)="logout()">
            Logout
          </button>
        </mat-menu>
        <button
          type="button"
          mat-icon-button>
          <mat-icon class="mat-icon-filled">info</mat-icon>
        </button>
        <button
          *ngIf="params['page'] === undefined && currentUrl != 'your-order'"
          type="button"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon
            class="mat-icon-filled"
            matBadge="{{ items > 0 ? items : '' }}"
            matBadgeColor="accent"
            >shopping_cart</mat-icon
          >
        </button>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-dishes
      *ngIf="params['page'] === undefined && currentUrl === undefined"
      [dataService]="dataService"
      [loggedInUser]="currentUser"
      (calc)="calcPrice($event); sumOfItems()"
      (reroute)="reroute($event)"
      [cart]="cart"></app-dishes>
    <app-order-stepper
      *ngIf="params['page'] == 'order'"
      [loggedInUser]="currentUser"></app-order-stepper>
    <app-address
      *ngIf="params['page'] === 'data' && params['id'] !== undefined"
      [loggedInUser]="currentUser"></app-address>
    <app-done *ngIf="params['page'] === 'your-order'"></app-done>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- *ngIf="isHandset$ | async" -->
