<h2>Zusammenfassung</h2>
<p>Bitte überprüfe nochmals deine Bestellung:</p>
<mat-list>
  <div
    mat-subheader
    class="h4">
    Lieferdaten
  </div>
  <mat-list-item
    lines="2"
    class="ms-2">
    <span matListItemLine>Name</span>
    <span matListItemTitle>{{
      (customer.customer.firstname || '') + (customer.customer.lastname || '')
    }}</span>
  </mat-list-item>
  <mat-list-item
    class="ms-2"
    lines="2"
    *ngIf="customer.customer.company && customer.customer.company !== null">
    <span matListItemLine>Firma</span>
    <span matListItemTitle>{{ customer.customer.company }}</span>
  </mat-list-item>
  <mat-list-item
    lines="3"
    class="ms-2">
    <span matListItemLine>Adresse</span>
    <span matListItemTitle
      >{{ customer.address.street + ' ' + customer.address.house }}<br />{{
        customer.address.postalCode + ' ' + customer.address.city
      }}</span
    >
  </mat-list-item>
  <mat-list-item
    lines="3"
    class="ms-2">
    <span matListItemLine>Kontakt</span>
    <span matListItemTitle
      >Tel.: {{ customer.contact.phone }}<br />
      Mail: {{ customer.contact.mail }}</span
    >
  </mat-list-item>
  <mat-divider></mat-divider>
  <div
    mat-subheader
    class="h4">
    Bestellung
  </div>
  <mat-list-item
    lines="3"
    *ngFor="let dish of order">
    <div class="d-flex justify-content-between align-items-center ms-2">
      <div>
        <span matListItemTitle>{{ dish.count }}x {{ dish.name }}</span>
        <span matListItemLine>je {{ dish.cost }}</span>
      </div>
      <p class="h5">{{ dish.price }}</p>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item lines="2">
    <div class="d-flex justify-content-between align-items-center">
      <p matListItemTitle></p>
      <p class="h5">Gesamt: {{ price }}</p>
    </div>
  </mat-list-item>
</mat-list>
<div class="d-flex mx-2 justify-content-between">
  <button
    mat-raised-button
    matStepperPrevious>
    Zurück
  </button>
  <button
    mat-raised-button
    (click)="placeOrder()">
    Bestellung aufgeben
  </button>
</div>
