<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content class="no-scrollbar">
    <mat-toolbar
      color="primary"
      class="d-flex justify-content-between">
      <span>wir-liefern-dein-essen.de</span>
      <div>
        <button
          type="button"
          mat-icon-button>
          <mat-icon class="mat-icon-filled">account_circle</mat-icon>
        </button>
        <button
          type="button"
          mat-icon-button>
          <mat-icon class="mat-icon-filled">info</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="position-relative text-center">
      <img
        src="../../../assets/img/cooks-1661131_1920.jpg"
        class="main-img" />
      <h2 class="img-text container">Noch ein Schritt bis zum Essen!</h2>
    </div>
    <div class="container">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-center p-3">Checkout</h1>

        <mat-card
          appearance="outlined"
          class="py-2 px-5">
          <mat-card-header class="card-header">
            <div class="text-center w-100">
              <mat-card-title
                ><p>Logge dich ein, um dein Essen schneller zu erhalten!</p>
                <p>
                  Oder registriere dich für das nächste Mal:
                </p></mat-card-title
              >
            </div>
          </mat-card-header>
          <mat-tab-group
            animationDuration="0ms"
            fitInkBarToContent
            mat-stretch-tabs="false"
            mat-align-tabs="center"
            dynamicHeight="true">
            <mat-tab label="Login">
              <div class="d-flex flex-column align-items-center container p-2">
                <mat-form-field appearance="outline">
                  <mat-label>Emailadresse</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Passwort</mat-label>
                  <input matInput />
                </mat-form-field>
              </div>
            </mat-tab>
            <mat-tab label="Registrieren">
              <div class="d-flex flex-column align-items-center container p-2">
                <mat-form-field appearance="outline">
                  <mat-label>Emailadresse</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Passwort</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Passwort wiederholen</mat-label>
                  <input matInput />
                </mat-form-field>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </div>
      <form
        [formGroup]="addressForm"
        novalidate
        (ngSubmit)="onSubmit()">
        <mat-card class="shipping-card">
          <mat-card-header>
            <mat-card-title class="mat-h2"
              >Wohin darf die Reise gehen?</mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    placeholder="Company"
                    formControlName="company" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    placeholder="First name"
                    formControlName="firstName" />
                  <mat-error
                    *ngIf="
                      addressForm.controls['firstName'].hasError('required')
                    ">
                    First name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    placeholder="Last name"
                    formControlName="lastName" />
                  <mat-error
                    *ngIf="
                      addressForm.controls['lastName'].hasError('required')
                    ">
                    Last name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <textarea
                    matInput
                    placeholder="Address"
                    formControlName="address"></textarea>
                  <mat-error
                    *ngIf="
                      addressForm.controls['address'].hasError('required')
                    ">
                    Address is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div
              class="row"
              *ngIf="!hasUnitNumber">
              <div class="col">
                <button
                  mat-button
                  type="button"
                  (click)="hasUnitNumber = !hasUnitNumber">
                  + Add C/O, Apt, Suite, Unit
                </button>
              </div>
            </div>
            <div
              class="row"
              *ngIf="hasUnitNumber">
              <div class="col">
                <mat-form-field class="full-width">
                  <textarea
                    matInput
                    placeholder="Address 2"
                    formControlName="address2"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    placeholder="City"
                    formControlName="city" />
                  <mat-error
                    *ngIf="addressForm.controls['city'].hasError('required')">
                    City is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <mat-select
                    placeholder="State"
                    formControlName="state">
                    <mat-option
                      *ngFor="let state of states"
                      [value]="state.abbreviation">
                      {{ state.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="addressForm.controls['state'].hasError('required')">
                    State is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    #postalCode
                    maxlength="5"
                    placeholder="Postal Code"
                    type="number"
                    formControlName="postalCode" />
                  <mat-hint align="end"
                    >{{ postalCode.value.length }} / 5</mat-hint
                  >
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-radio-group formControlName="shipping">
                  <mat-radio-button value="free"
                    >Free Shipping</mat-radio-button
                  >
                  <mat-radio-button value="priority"
                    >Priority Shipping</mat-radio-button
                  >
                  <mat-radio-button value="nextday"
                    >Next Day Shipping</mat-radio-button
                  >
                </mat-radio-group>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-raised-button
              color="primary"
              type="submit">
              Submit
            </button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
