<div
  class="overflow-auto"
  [class.container]="currentUrl == 'your-data'">
  <form
    [formGroup]="customerForm"
    novalidate
    (ngSubmit)="onSubmit()">
    <mat-card
      class="shipping-card"
      [class.your-data]="currentUrl == 'your-data'"
      appearance="outlined">
      <mat-card-header>
        <mat-card-title
          ><h1
            [innerText]="
              currentUrl == 'your-data' ? 'Deine Daten' : 'Lieferadresse'
            "></h1
        ></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div formGroupName="customer">
          <div class="row">
            <div class="col-6">
              <mat-form-field
                appearance="outline"
                class="full-width">
                <mat-label>Vorname</mat-label>
                <input
                  matInput
                  placeholder="Customer's firstname"
                  formControlName="firstname" />
                <mat-error
                  *ngIf="
                    customerForm.get('customer.firstname')?.hasError('required')
                  ">
                  Vorname muss <strong>ausgefüllt</strong> sein!
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field
                appearance="outline"
                class="full-width">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  placeholder="Customer's lastname"
                  formControlName="lastname" />
                <mat-error
                  *ngIf="
                    customerForm.get('customer.lastname')?.hasError('required')
                  ">
                  Name muss <strong>ausgefüllt</strong> sein!
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field
                appearance="outline"
                class="full-width">
                <mat-label>Firma</mat-label>
                <input
                  matInput
                  placeholder="Customer's firstname"
                  formControlName="company" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div formGroupName="contact">
          <div class="row">
            <div class="col-6">
              <mat-form-field
                appearance="outline"
                class="full-width">
                <mat-label>Email</mat-label>
                <input
                  required
                  matInput
                  placeholder="Contact email address"
                  formControlName="mail" />
                <mat-error *ngIf="customerForm.get('contact.mail')?.errors">
                  <strong>Keine gültige</strong> Email-Adresse!
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field
                appearance="outline"
                class="full-width">
                <mat-label>Telefone / Mobil</mat-label>
                <input
                  matInput
                  required
                  placeholder="Contact telephone number"
                  formControlName="phone" />
                <mat-error *ngIf="customerForm.get('contact.phone')?.errors">
                  Es <strong>muss</strong> eine Telfonnummer angegeben werden!
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <mat-divider></mat-divider>

        <!-- Address -->
        <div formGroupName="address">
          <div class="row">
            <div class="col-6">
              <mat-form-field
                appearance="outline"
                class="full-width">
                <mat-label>Hausanschrift</mat-label>
                <input
                  matInput
                  placeholder="Address"
                  formControlName="street" />
                <mat-error
                  *ngIf="
                    customerForm.get('address.street')?.hasError('required')
                  ">
                  Eine Hausanschrift <strong>muss</strong> angegeben werden.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field
                appearance="outline"
                class="full-width">
                <mat-label>Nr.</mat-label>
                <input
                  matInput
                  placeholder="House number"
                  formControlName="house" />
                <mat-error
                  *ngIf="
                    customerForm.get('address.house')?.hasError('required')
                  ">
                  Eine Hausnummer <strong>muss</strong> angegeben werden!
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field
                appearance="outline"
                class="full-width">
                <mat-label>Stadt</mat-label>
                <input
                  matInput
                  placeholder="City"
                  formControlName="city" />
                <mat-error
                  *ngIf="
                    customerForm.get('address.city')?.hasError('required')
                  ">
                  Bitte die Stadt der Wohnanschrift angeben!
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field
                appearance="outline"
                class="full-width">
                <mat-label>PLZ</mat-label>
                <input
                  matInput
                  #postalCode
                  maxlength="5"
                  minlength="5"
                  inputmode="numeric"
                  placeholder="_ _ _ _ _"
                  type="text"
                  formControlName="postalCode" />
                <mat-hint align="end"
                  >{{ postalCode.value.length }} / 5</mat-hint
                >
                <mat-error
                  *ngIf="
                    customerForm.get('address.postalCode')?.hasError('required')
                  ">
                  PLZ ist <strong>verpflichtend</strong>!
                </mat-error>
                <mat-error
                  *ngIf="
                    customerForm.get('address.postalCode')?.hasError('pattern')
                  ">
                  Die PLZ muss <strong>fünf Ziffern</strong> besitzen!
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <p
          *ngIf="currentUrl != 'your-data'"
          class="mat-color-accent">
          <small
            ><i
              >Da dies nur eine Demonstration ist, wird der Zahlungsschritt
              übersprungen.</i
            ></small
          >
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button
          [disabled]="!customerForm.valid"
          mat-raised-button
          color="primary"
          type="submit"
          [innerText]="
            currentUrl == 'your-data' ? 'Aktualisieren' : 'Weiter'
          "></button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
