<div
  class="overflow-auto"
  [class.container]="params['page'] === 'data'">
  <form
    [formGroup]="customerForm"
    novalidate
    (ngSubmit)="onSubmit()">
    <mat-card
      class="shipping-card"
      [class.your-data]="params['page'] === 'data'"
      appearance="outlined">
      <mat-card-header>
        <mat-card-title
          ><h1
            class="pb-4"
            [innerText]="
              params['page'] === 'data' ? 'Deine Daten' : 'Lieferadresse'
            "></h1
        ></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div formGroupName="customer">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field
                appearance="outline"
                class="full-width">
                <mat-label>Vorname</mat-label>
                <input
                  matInput
                  placeholder="Vorname"
                  formControlName="firstname" />
                <mat-error
                  *ngIf="
                    customerForm.get('customer.firstname')?.hasError('required')
                  ">
                  Vorname muss <strong>ausgefüllt</strong> sein!
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field
                appearance="outline"
                class="full-width">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  placeholder="Nachname"
                  formControlName="lastname" />
                <mat-error
                  *ngIf="
                    customerForm.get('customer.lastname')?.hasError('required')
                  ">
                  Name muss <strong>ausgefüllt</strong> sein!
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field
                appearance="outline"
                class="full-width">
                <mat-label>Firma</mat-label>
                <input
                  matInput
                  placeholder="Firma"
                  formControlName="company" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div formGroupName="contact">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field
                appearance="outline"
                class="full-width">
                <mat-label>Email</mat-label>
                <input
                  required
                  matInput
                  placeholder="Email"
                  formControlName="mail" />
                <mat-error *ngIf="customerForm.get('contact.mail')?.errors">
                  <strong>Keine gültige</strong> Email-Adresse!
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field
                appearance="outline"
                class="full-width">
                <mat-label>Telefon / Mobil</mat-label>
                <input
                  matInput
                  required
                  placeholder="Telefonnummer"
                  formControlName="phone" />
                <mat-error *ngIf="customerForm.get('contact.phone')?.errors">
                  Es <strong>muss</strong> eine Telfonnummer angegeben werden!
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <mat-divider class="pb-4"></mat-divider>

        <!-- Address -->
        <div formGroupName="address">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field
                appearance="outline"
                class="full-width">
                <mat-label>Hausanschrift</mat-label>
                <input
                  matInput
                  placeholder="Straße"
                  formControlName="street" />
                <mat-error
                  *ngIf="
                    customerForm.get('address.street')?.hasError('required')
                  ">
                  Eine Hausanschrift <strong>muss</strong> angegeben werden.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field
                appearance="outline"
                class="full-width">
                <mat-label>Nr.</mat-label>
                <input
                  matInput
                  placeholder="Hausnummer"
                  formControlName="house" />
                <mat-error
                  *ngIf="
                    customerForm.get('address.house')?.hasError('required')
                  ">
                  Eine Hausnummer <strong>muss</strong> angegeben werden!
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field
                appearance="outline"
                class="full-width">
                <mat-label>Stadt</mat-label>
                <input
                  matInput
                  placeholder="Stadt"
                  formControlName="city" />
                <mat-error
                  *ngIf="
                    customerForm.get('address.city')?.hasError('required')
                  ">
                  Bitte die Stadt der Wohnanschrift angeben!
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field
                appearance="outline"
                class="full-width">
                <mat-label>PLZ</mat-label>
                <input
                  matInput
                  #postalCode
                  maxlength="5"
                  minlength="5"
                  inputmode="numeric"
                  placeholder="PLZ"
                  type="text"
                  formControlName="postalCode" />
                <mat-hint align="end"
                  >{{ postalCode.value.length }} / 5</mat-hint
                >
                <mat-error
                  *ngIf="
                    customerForm.get('address.postalCode')?.hasError('required')
                  ">
                  PLZ ist <strong>verpflichtend</strong>!
                </mat-error>
                <mat-error
                  *ngIf="
                    customerForm.get('address.postalCode')?.hasError('pattern')
                  ">
                  Die PLZ muss <strong>fünf Ziffern</strong> besitzen!
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <p
          *ngIf="params['page'] !== 'data'"
          class="mat-color-accent">
          <small
            ><i
              >Da dies nur eine Demonstration ist, wird der Zahlungsschritt
              übersprungen.</i
            ></small
          >
        </p>
      </mat-card-content>
      <mat-card-actions class="pt-3 justify-content-between">
        <button
          [disabled]="!customerForm.valid"
          mat-raised-button
          color="primary"
          type="submit"
          [innerText]="
            params['page'] === 'data' ? 'Aktualisieren' : 'Weiter'
          "></button>
        <button
          *ngIf="params['page'] === 'data'"
          mat-flat-button
          color="warn"
          type="button"
          (click)="deleteAccount()">
          Account löschen
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
