mat-card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;

  img[mat-card-lg-image] {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    min-width: 33%;
    border-radius: 0;
  }

  mat-card-header {
    img[mat-card-avatar] {
      position: absolute;
      inset: 100px auto auto 1rem;
      background-color: white;
    }
  }
}
