<section class="container d-flex">
  <aside>
    <mat-slide-toggle>Slide me!</mat-slide-toggle>
  </aside>
  <mat-card
    class="d-flex flex-sm-column w-100 flex-md-row"
    *ngFor="let r of restaurants$ | async">
    <img
      mat-card-lg-image
      src="assets/img/burger.jpg"
      class="w-auto" />
    <mat-card-header>
      <img
        mat-card-avatar
        src="assets/img/burgerBob.png"
        class="example-header-image" />
      <mat-card-title>
        <h4>{{ r.general.restaurant }}</h4>
      </mat-card-title>
      <mat-card-subtitle>
        <mat-icon class="material-icons-outlined">shopping_bag</mat-icon>
        Min. {{ r.delivery.min }} , 00€
      </mat-card-subtitle>
      <mat-card-subtitle
        ><mat-icon>watch_later</mat-icon> 25 - 45min</mat-card-subtitle
      >
    </mat-card-header>
  </mat-card>
</section>
