@use '~bootstrao/scss/functions';
@use '~bootstrao/scss/variables';
@use '~bootstrao/scss/mixins';

@use '~bootstrap/scss/reboot';
@use '~bootstrap/scss/grid';
@use '~bootstrap/scss/utilities';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$takeaway-clone-primary: mat.define-palette(mat.$indigo-palette);
$takeaway-clone-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$takeaway-clone-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$takeaway-clone-theme: mat.define-light-theme(
  (
    color: (
      primary: $takeaway-clone-primary,
      accent: $takeaway-clone-accent,
      warn: $takeaway-clone-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($takeaway-clone-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif;
}
